<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        .topnav{
            overflow: hidden;
            background-color: #333;
    
        }
        .topnav a{
            float: left;
            color: #f2f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        .topnava:hover{
            background-color: #ddd;
            color: black;
        }
        .topnav a.active{
            background-color: #4CAF50;
            color: white;
        }
    
    </style>
        
</head>
<body style="background-color: white;">
    <div class="topnav">
        <a class="active" href="/">Kasi Dictionary</a>
        <a href="/">Words</a>
        <a href="/about">About</a>
        
    </div>
<div class = "about content">
    <h2>About us</h2>
    <p>Hey I am Bafana Mhlahlo, in this site I am giving a series of kasi words and their meaning.</p>
    <p>The aim of this dictionary is to teach and promote the dynamics of</p>
    <p>kasi langauge through defining slang words used at kasi</p>
    <p>easying the process of understanding trends.</p>
    <p>More info about a word that is there or isn't contact me at <a href="mailto:mhlahlobafana@gmail.com">Bafana</a></p>
    <p>Stay put as I am making more slang words available to you.</p>   

</div>
<footer class="bg-light text-align center text-lg-start">
    <div class="text-align" style="background-color: green;">
    <center font-family="Verdana">
        @ 2021 Copyright: Bafana
    </center>
    
    </div>
</footer>
</body>
</html>